/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    /* margin: 60px 0 0; /* Add top margin equal to the header's height */
}
main {
    min-height: calc(100vh - 100px); /* 100px ist die geschätzte Höhe von Header und Footer */
    padding: 20px;
}

/* Primary color */
:root {
    --primary-color: #38a5ff;
}
