main {
    padding: 80px 20px; /* Platz schaffen, da der Header fixiert ist */
    background-color: #f9f9f9; /* Leicht grauer Hintergrund, um sich vom Header und Footer abzuheben */
    color: #333; /* Dunkle Textfarbe für gute Lesbarkeit */
    min-height: 100vh; /* Stellt sicher, dass der Inhalt mindestens die Höhe des Viewports einnimmt */
    box-sizing: border-box;
}

main h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary-color); /* Gleiche Farbe wie im Footer für einheitliches Branding */
    margin-bottom: 40px;
}

main section {
    max-width: 800px; /* Begrenzte Breite für bessere Lesbarkeit */
    margin: 0 auto;
    background-color: white; /* Weißer Hintergrund für Abschnitte */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Dezenter Schatten für moderne Optik */
    margin-bottom: 20px;
}

main section h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

main section p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

main section h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}
