/* Datenschutz */
.privacy {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.privacy h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.privacy p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.privacy p a {
    color: var(--primary-color);
    text-decoration: none;
}

.privacy p a:hover {
    text-decoration: underline;
}
